<h1>Hi, <%=username%></h1>
<div class="link sign-out">
        <div class="sign">
            <a href="/signup">
                <button>Sign Out</button>
            </a>
        </div>
    </div>