<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>
<body>
<div class="page">
    <h1>Signup as a new user</h1>
    <div class="link">
        <div class="sign">
            <span>Already have an account -></span>
            <a href="/login">
                <button id="login">Login</button>
            </a>
        </div>
        <div class="sign">
            <span>Back to home -></span>
            <a href="/">
                <button id="homepage">HomePage</button>
            </a>
        </div>
    </div>
    <form class="sign-up-form" method="post" action="/users">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="sign-up-input">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" placeholder="First Name" name="firstname">
        </div>
        <div class="sign-up-input">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" placeholder="Last Name" name="lastname">

        </div>
        <div class="sign-up-input">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Email" name="email">


        </div>
        <div class="sign-up-input">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password">
        </div>
        <div class="sign-up-input">
            <button type="submit" class="submit">Sign Up</button>
        </div>
        <%- include("notifications.ejs") %>
    </form>
</div>

</body>
</html>